div(layout="row" layout-align="center center")
    div(flex="80")
        .niveles
            md-card-content(layout="row")
                md-autocomplete(
                flex
                md-selected-item="ctrl.selectedNivel" 
                md-search-text-change="ctrl.BuscarNivelChange(ctrl.searchTextNivel)" 
                md-search-text="ctrl.searchTextNivel" 
                md-selected-item-change="ctrl.NivelSeleccionadoChange(item)" 
                md-items="item in niveles" 
                md-item-text="item.nombre" 
                md-min-length="0" 
                placeholder="Nombre del Nivel" 
                md-menu-class="autocomplete-custom-template")
                    md-item-template
                        span {{item.nombre}}
                md-button(md-colors="{background: 'green'}" ui-sref="nuevoNivel")
                    md-icon school
        md-card
            md-toolbar
                .md-toolbar-tools
                    h4 Niveles 
            md-list
                md-list-item.md-2-line(ng-repeat="nivel in niveles | filter: ctrl.searchTextNivel" ui-sref="nivel({idNivel:nivel.id})")
                    .md-list-item-text
                        p {{nivel.nombre}}
                        
