div(layout="row" layout-align="center center")
    div(flex="80")
        md-card
            md-card-content
                form(ng-submit="nuevoNivel(nivel)")
                    div(layout="row" layout-align="center center")
                        md-input-container(flex)
                            label Nombre
                            input(ng-model="nivel.nombre" required)
                        md-input-container(flex)
                            label Direccion
                            input(ng-model="nivel.direccion" required)
                    div(layout="row" layout-align="center center")
                        md-input-container(flex)
                            label Inscripcion
                            input(ng-model="nivel.inscripcion" required)
                        md-input-container(flex)
                            label Colegiatura
                            input(ng-model="nivel.colegiatura" required)
                    div(layout="column")
                        md-input-container
                            label Descripcion
                            textarea(ng-model="nivel.descripcion" md-maxlength="150" rows="4" md-select-on-focus required)
                        .dropify-container(ng-init="Dropify()" flex ng-hide="inputImage")
                            input.dropify(type="file" data-default-file="Imagen del Nivel" ng-model="nivel.logo" base-sixty-four-input maxsize="5120" data-max-file-size="1000K" accept="image/*" style="padding:0px;")
                        .croppie-container(flex ng-show="inputImage")
                            ng-croppie(src="inputImage"
                                ng-model='nivel.logo'
                                update='onUpdate'
                                boundry="{ w: 300, h: 300 }"
                                viewport="{w: 200, h: 200}"
                                mousezoom="true" 
                                zoom="true" 
                                orientation="90"
                                type="square") 
                    md-button.large(type="submit" md-colors="{background: 'green'}" flex)
                        md-icon save
